@model EmployeeManagementSystem.Models.Employee

<h2>Create Employee</h2>
<form method="post">
    Name: <input name="Name" /><br />
    Department: <input name="Department" /><br />
    Email: <input name="Email" /><br />
    <button type="submit">Save</button>
</form>
