@model IEnumerable<EmployeeManagementSystem.Models.Employee>

<h2>Employees</h2>
<a href="/Employee/Create">Add Employee</a>
<table>
    <tr><th>Name</th><th>Department</th><th>Email</th><th>Actions</th></tr>
@foreach (var emp in Model)
{
    <tr>
        <td>@emp.Name</td>
        <td>@emp.Department</td>
        <td>@emp.Email</td>
        <td>
            <a href="/Employee/Edit/@emp.Id">Edit</a> |
            <a href="/Employee/Delete/@emp.Id">Delete</a>
        </td>
    </tr>
}
</table>
